@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../font/Raleway-ExtraBold.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: black;
    height: 800px;
    width: 100%;
    display: flex;

    justify-content: center;
    font-size: 70px;



}

.container span {
    color: white;
    font-family: 'Raleway-ExtraBold';
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;

}

.js::before {
    border-left: 7px solid blue;
    content: "";
    padding-left: 15px;

}

.css::before {
    border-left: 7px solid blue;
    content: "";
    padding-left: 15px;

}

.html,
.css,
.js {
    padding: 30px;
}